body {
    display: flex;
    justify-content: center; 
    /* min-height: 100vh;   */
    background-color: rgb(208, 165, 113); 
    text-align: center; 
    flex-direction: column;  
    margin-top: 20px;
  }

#message {
    color: red;
  }

  img {
    width: 100%;
    max-width: 400px; 
    height: auto;  
    display: block;
    margin: 0 auto; 
  }